.animal-show{
    position: relative;
    border: 1px solid lightblue;
    padding: 10px;
    border: 50px;
    margin-left: 12px;
    box-shadow: 0 3px 4px lightblue;
}

.animal{
    height: 200px;
}

.heart{
    position: absolute;
    bottom: 10%;
    right: 10%;
}